.metadata/
bin/
target/
etc/RMTestLocal.conf
etc/Appium_TEMP.json
etc/LocalConfig.json
.metadata/
.project
.classpath
.idea/
.settings
cmd/.log
RMTest.iml
etc/Simulator_Temp.json
RMR-Screenshots/
*.png
*.DS_Store
*.log
